* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(187, 194, 226);
  }
  .caixa-nome {
    background-image: url(sakura.jpg);
    background-size:cover;
    background-position: 50% 25%;
    height: 300px;
    display: block;
    }
    #caixa-titulo {
      color: cornflowerblue;
      font-family: Reenie Beanie;
      position:absolute;
      top: 80px;
      right: 70px;
      text-align: center;
      font-size: 80px;      
    }
    #barra {
      background-color: rgb(241, 198, 241);
      opacity: .6;
      z-index: 2;
    }
    #barra ul li{
      color: black;
      display: inline;
      font-size: 40px;
      margin: 200px;
      z-index: 1;
    }
   #minha-foto {
       margin: 20px;
   } 
  .paragrafo {
    background-color:rgb(183, 181, 228);
    line-height:4ch;
  }
  h3 {
    font-family: Arial, Helvetica, sans-serif;
  }
  figcaption {
    font-size: small;
    text-align: center;
    margin-top: 3px;
  }
  .links-acesso {
    text-align: center;
    line-height: 30px;
  }
  img {
    margin: auto;
    display: block;
  }
  #caixa-link {
    background-color: rgb(150, 181, 228);
    width: fit-content;
    border: 2px solid purple;
    margin:auto;
    padding: 1%; 
  }
  #topicos {
    line-height: 50px;
    text-align: center;
  }

  